<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labexercise4.suryanshbhardwaj.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qr"
        android:label="Digital QR Attendance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginpage" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name=".scanqr"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name=".departure_scanqr"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".BaseActivity_Firebase"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>

    </application>

</manifest>